.social-login
    button.social-login--github
        a(href=routes.gitHub)
            span
                i.fab.fa-github
            |Continue with Github
    button.social-login--kakao
        a(href=routes.kakao)
            span
                <img src="/img/kakaolink_btn_small/kakaolink_btn_small.png">
            |Continue with Kakao
